@charset "UTF-8";

$primaryColor : #3c6ffb;

$borderColor : #DEE1E5;

$textColor : #333333;

$textColorLight : #7b8497;

$placeholderColor : $textColorLight;

$disabledColor :#999999;

$btnColor : #a0a0a0;

$cancelColor:#484E58;

$sidebarColor : #1f242f;

$sidebarSelectColor : #1c1f27;

$sideBarItemNotActive:#bbc0ca;

$errorColor: #FF3B4C;

$rightBgColor:#ffffff;

$filterColor:#f9fafc;

$selectIconColor:$filterColor;

$selectedColor         : #F5F6F7;