$icomoon-font-path: "../../_fonts/custom_fonts" !default;

$icon-custom-arrow-down: "\e900";
$icon-custom-arrow-up: "\e901";
$icon-custom-checked: "\e902";
$icon-custom-close-circle: "\e903";
$icon-custom-close: "\e904";
$icon-custom-delete: "\e905";
$icon-custom-down-button: "\e906";
$icon-custom-dsp: "\e907";
$icon-custom-empty-arrow: "\e908";
$icon-custom-empty-path1: "\e909";
$icon-custom-empty-path2: "\e90a";
$icon-custom-exit: "\e90b";
$icon-custom-help: "\e90c";
$icon-custom-jy: "\e90d";
$icon-custom-message: "\e90e";
$icon-custom-ok: "\e90f";
$icon-custom-unchecked: "\e910";
$icon-custom-user: "\e911";
$icon-custom-xt: "\e912";
$icon-custom-zy: "\e913";
$icon-custom-zybs: "\e914";

